streamlit==1.38.0
streamlit-chat==0.1.1
groq==0.9.0
gtts==2.5.3
sentence-transformers==3.0.1
faiss-cpu==1.7.0
PyPDF2==3.0.1
SpeechRecognition==3.10.0
numpy==1.26.4
tqdm==4.66.5
torch==2.5.0
transformers==4.44.2
tokenizers==0.19.1
requests==2.32.5
pandas==2.3.3
pillow==10.4.0
--extra-index-url https://download.pytorch.org/whl/cpu
